<strong>Olá, {{ deliveryman }}</strong>
<p>Você tem uma nova entrega!</p>
<p>Veja os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ recipient }} <br />
  <strong>Endereço: </strong> {{ address_name }}, {{ address_number }} {{ address_complement }} <br />
  <strong>Cep: </strong> {{ address_cep }} <br />
  <strong>Cidade: </strong> {{ address_city }} <br />
  <strong>Estado: </strong> {{ address_state }} <br />
  <br />
  <small>
    A entrega está aguardando a retirada em nossa sede.
  </small>
</p>
